article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template,
script {
  display: none;
}
ins,
a {
  text-decoration: none;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
  * 1. Corrects max-width behavior (2.) if padding and border are used
  * 2. Responsiveness: Sets a maxium width relative to the parent and auto scales the height
  * 3. Remove the gap between images and the bottom of their containers
  * 4. Remove border when inside `a` element in IE 8/9.
  * remove 2. for Issue #502
  */
img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  vertical-align: middle;
  /* 3 */
  border: 0;
  /* 4 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/* Insert */
ins {
  background: #ffa;
  color: #333333;
}
/**
 * Mark
 * Note: Addresses styling not present in IE 8/9.
 */
mark {
  background: #ffa;
  color: #333333;
}
/**
 * Abbreviation and definition
 */
abbr[title],
dfn[title] {
  cursor: help;
}
dfn[title] {
  border-bottom: 1px dotted;
  font-style: normal;
}
/* Spacing for block elements */
p,
hr,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
  margin: 0 0 1.6rem 0;
}
* + p,
* + hr,
* + ul,
* + ol,
* + dl,
* + blockquote,
* + pre,
* + address,
* + fieldset,
* + figure {
  margin-top: 1.6rem;
}
/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.6rem 0;
  font-weight: 600;
  font-size: 100%;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 2em;
}
/* Ordered and unordered lists */
ul,
ol {
  padding-left: 2em;
}
/* Reset margin for nested lists */
ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin: 1em 0;
}
/* Description lists */
dt {
  font-weight: bold;
}
dt + dd {
  margin-top: .5em;
}
dd {
  margin-left: 0;
}
dd + dt {
  margin-top: 1em;
}
hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #eeeeee;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
}
/* Address */
address {
  font-style: normal;
}
/* Quotes */
blockquote {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-left: 4px solid #ddd;
  font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;
  /* Small print for identifying the source */
  /* Smaller margin if `small` follows */
}
blockquote small {
  display: block;
  color: #999999;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  text-align: right;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
/* iframe */
iframe {
  border: 0;
}
/* Forms
   ========================================================================== */
/**
  * Vertical alignment
  * Exclude `radio` and `checkbox` elements because the default `baseline` value aligns better with text
  */
button,
input:not([type="radio"]):not([type="checkbox"]),
select {
  vertical-align: middle;
}
/* ==========================================================================
   Component: Code
 ============================================================================ */
/* Inline and block code styles */
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace;
}
/* Inline code */
code {
  padding: 2px 4px;
  font-size: 1.3rem;
  color: #c7254e;
  background-color: #f8f8f8;
  white-space: nowrap;
  border-radius: 0;
}
/* Code block */
pre {
  display: block;
  padding: 1rem;
  margin: 1rem  0;
  font-size: 1.3rem;
  line-height: 1.6;
  word-break: break-all;
  word-wrap: break-word;
  color: #555555;
  background-color: #f8f8f8;
  border: 1px solid #dedede;
  border-radius: 0;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
/* Enable scrollable blocks of code */
/* ==========================================================================
   Component: Table
 ============================================================================ */
table {
  max-width: 100%;
  background-color: transparent;
  empty-cells: show;
}
table code {
  white-space: normal;
}
th {
  text-align: left;
}
/* ==========================================================================
   Component: Form
 ============================================================================ */
/* Normalize */
fieldset {
  border: none;
}
legend {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: inherit;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.5rem;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
output {
  display: block;
  padding-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #555555;
  vertical-align: middle;
}